.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.year-input {
  flex: 1;
  height: 30px;
}

.btn-search {
  width: 35px;
  cursor: pointer;
  background-color: #3f51b5;
  height: 35px;
  margin-left: 10px;
  border: none;
}